.mainchart {
  // padding: 20px;
  box-sizing: border-box;
  fill: $gray;

  .selectrange {
    float: right;
  }

  path.chartline {
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
  }

  path.humidity {
    stroke: $humidityFull;
  }

  path.temperature {
    stroke: $tempFull;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 2;
      shape-rendering: crispEdges;
  }

  .y-axis-left {
    fill: $tempFull;
  }

  .y-axis-right {
    fill: $humidityFull;
  }

  .area-temperature {
    fill: $tempTransparent;
  }
  .area-humidity {
    fill: $humidityTransparent;
  }

  .bobbel-humidity {
    display: none;
    fill: $humidityFull;
    // fill: transparent;
  }

  .bobbel-temperature {
    display: none;
    fill: $tempFull;
    // fill: transparent;
  }

  &:hover .bobbel {
    display: block;
  }
}
