$gaugeWidth: 30px;

.gaugerow {
  position: absolute;
  bottom: 8px;
  right: 0;
  width: 100%;

  .grid_2,
  .grid_3 {
    float: right;
  }
}

.gauge {
  position: relative;
  width: $gaugeWidth;
  height: $gaugeWidth;
  overflow: hidden;

  > .meter,
  &::before {
    content: " ";
    display: block;
    width: $gaugeWidth * 2;
    height: $gaugeWidth * 2;
    background-color: $grayTransparent;
    border-radius: 100%;
    position: absolute;
    left: -100%;
    top: 0;
  }

  > .meter {
    background-color: $almostWhite;
    border-radius: $gaugeWidth $gaugeWidth 0 0;
    height: 100%;
    transform: rotate(180deg);
    transform-origin: 50% 100%;
  }
}

.gaugewrapper {
  position: relative;
  margin-bottom: 25px;
  margin-right: 14px;
  width: 140px;
  float: right;

  .meta {
    position: absolute;
    bottom: -14px;
    left: $gaugeWidth + 5px;
    font-family: Avenir;
    font-weight: 600;
    font-size: 40px;
    color: $almostWhite;
    float: left;

    &::after {
      content: "";
      font-size: 15px;
      color: $grayTransparent;
      margin-left: 2px;
      padding-top: 25px;
      display: block;
      float: right;
    }
  }
}

.temperature .meta::after {
  content: "°C"
}

.humidity .meta::after {
  content: "%"
}

