html {
  background-color: #222; // Old browsers
  color: white;
  background-repeat: none;
  background: linear-gradient(to bottom,  #4c4c4c 25%,#222222 700px,#222222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 100%;
  font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

svg {
  font-size: 12px;
}

.container {
  position: relative;
}

.enlargeme {
  display: block;

  .preview {
    max-width: 100%;
  }
}

.rowstart {
  clear: both;
}

img.big {
  height: 1px;
  overflow: hidden;
  display: inline-block;
}

.time {
  position: absolute;
  color: $grayTransparent;
  top: 0;
  right: 20px;
  font-size: 14px;
  z-index:4;
}
